<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">


<head>
	<div th:replace="fragments/layout.html :: html_head" />
	<div th:replace="fragments/layout.html :: datatable_css" />
</head>

<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/layout.html :: nav_menu" />
		<div th:replace="fragments/layout.html :: sidebar" />

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">View Users</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">User</li>
							</ol>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div
								class="d-flex flex-row mb-3 justify-content-between  align-items-center pt-3 pb-2 border-bottom">
								<div class="p-2">

								</div>
								<div class="p-2">
									<form th:action="@{/register/addUserForm}">
										<button type="submit" class="btn btn-info">Add User</button>
									</form>
								</div>
							</div>
							<div class="card">
								<div class="card-body">
									<div class="table-responsive overflow-hidden">
										<table id="example1" class="table table-bordered table-hover">
											<thead>
												<tr>
													<th>Username</th>
													<th>Name</th>
													<th>Email</th>
													<th>User Type</th>
													<th>Contact</th>
													<th>Organization</th>
													<th>Medical License No.</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="user : ${userList}" class="listRecord">
													<td th:text="${user.username}">Name</td>
													<td th:text="${user.name}">HCI Code</td>
													<td th:text="${user.email}">Postal Code</td>
													<td th:text="${user.role.name}">Postal Code</td>
													<td th:text="${user.contact}">Contact</td>
													<td>
														<span th:if="${user.organization !=null}"
															th:text="${user.organization.name}"></span>
														<span th:unless="${user.organization !=nuxll}">
															<span>
																-
															</span>
														</span>
													</td>
													<td>
														<span th:if="${user.role.id == 1}"
															th:text="${user.medicalLicenseNo}">Medical License
															No.</span>
														<span th:unless="${user.role.id == 1}">-</span>
													</td>
													<td align="center">
														<div><a th:href="@{/deleteuser/}+${user.id}">Delete</a></div>
														<div><a th:href="@{/viewUser/}+${user.id}">Edit</a></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>


				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<div th:replace="fragments/layout.html :: footer" />
		<div th:replace="fragments/layout.html :: script" />
		<div th:replace="fragments/layout.html :: datatable_script" />

		<script>
			$(function () {
				$("#example1").DataTable({
					"responsive": true, "lengthChange": false, "autoWidth": false,
					"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
				}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
			});
		</script>
	</div>
</body>

</html>