<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">

<head>
	<div th:replace="fragments/layout.html :: html_head" />
	<div th:replace="fragments/layout.html :: datatable_css" />
</head>

<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/layout.html :: nav_menu" />
		<div th:replace="fragments/layout.html :: sidebar" />

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-auto">
							<h1 class="m-0">View Clinics</h1>
						</div><!-- /.col -->
						<div class="col-auto mr-auto">
							<a th:href="@{/addClinicForm}" class="btn btn-info"><i
									class="nav-icon fas fa-plus mr-2"></i>Add
								Clinic</a>
						</div><!-- /.col -->
						<div class="col-auto">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item active">Clinic</li>
							</ol>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<div class="table-responsive overflow-hidden">
										<table id="example1" class="table table-bordered table-hover">
											<thead>
												<tr>
													<th>Name</th>
													<th>HCI Code</th>
													<th>Postal Code</th>
													<th>Contact</th>
													<th>Address</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="clinic : ${clinicList}" class="listRecord">
													<td th:text="${clinic.name}">Name</td>
													<td th:text="${clinic.HCICode}">HCI Code</td>
													<td th:text="${clinic.postalCode}">Postal Code</td>
													<td th:text="${clinic.contact}">Contact</td>
													<td th:text="${clinic.address}">Address</td>
													<td align="center">
														<div><a th:href="@{/deleteclinic/}+${clinic.id}">Delete</a>
														</div>
														<div><a th:href="@{/viewclinic/}+${clinic.id}">View</a></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>


				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<div th:replace="fragments/layout.html :: footer" />
		<div th:replace="fragments/layout.html :: script" />
		<div th:replace="fragments/layout.html :: datatable_script" />

		<script>
			$(function () {
				$("#example1").DataTable({
					"responsive": true, "lengthChange": false, "autoWidth": false,
					"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
				}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
			});
		</script>
	</div>
</body>

</html>