<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">

<head th:replace="fragments/layout.html :: html_head" />

<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/layout.html :: nav_menu" />
		<div th:replace="fragments/layout.html :: sidebar" />

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Edit Clinic</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item"><a th:href="@{/cliniclist}">Clinic</a></li>
								<li class="breadcrumb-item active">Edit</li>
							</ol>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<form action="#" th:action="@{'/editClinic'}" th:object="${clinic}"
										method="post">
                                        <input type="hidden" th:field="*{id}"/>
										<div class="mb-3 form-group">
											<label class="form-label">Organization</label>
                      <select name="organization" th:field="*{organization.id}" class="form-control">
                        <option th:each="organization : ${organizationList}" th:value="${organization.id}"
                            th:text="${organization.name}"></option>
                    </select>
										</div>
										<div class="row">
											<div class="mb-3 col">
												<label class="form-label">Clinic Name</label>
												<input th:field="*{name}" type="text" class="form-control">
											</div>
											<div class="mb-3 col">
												<label class="form-label">Contact</label>
												<input th:field="*{contact}" type="text" class="form-control">
											</div>
										</div>
										<div class="mb-3 form-group">
											<label class="form-label">HCI Code</label>
											<input th:field="*{HCICode}" type="text" class="form-control">
										</div>
										<div class="mb-3 form-group">
											<label class="form-label">Postal Code</label>
											<input th:field="*{postalCode}" type="text" class="form-control">
										</div>
										<div class="mb-3 form-group">
											<label class="form-label">Address</label>
											<input th:field="*{address}" type="text" class="form-control">
										</div>
										<button type="submit" class="btn btn-info">Save</button>
									</form>
								</div>
							</div>
						</div>
						<!-- /.col -->
					</div>


				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<div th:replace="fragments/layout.html :: footer" />
		<div th:replace="fragments/layout.html :: script" />

	</div>
</body>

</html>