<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">

<head>
	<div th:replace="fragments/layout.html :: html_head" />
	<script type="text/javascript" src="../plugins/chart.js/chart.utils.js"></script>
</head>

<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/layout.html :: nav_menu" />
		<div th:replace="fragments/layout.html :: sidebar" />

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Dashboard</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Dashboard</li>
							</ol>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-12">
							<div class="info-box">
								<span class="info-box-icon bg-info"><i class="fas fa-user-doctor"></i></span>
								<div class="info-box-content">
									<span class="h3 info-box-number" th:text="${registeredLocumsThisMonth}"></span>
									<span class="info-box-text"
										th:text="'Locums registered in '+${#calendars.format(#calendars.createNow(), 'MMMM')}"></span>
								</div>
							</div>
						</div><!-- /.col -->
						<div class="col-md-3 col-sm-6 col-12">
							<div class="info-box">
								<span class="info-box-icon bg-info"><i class="fas fa-clinic-medical"></i></span>
								<div class="info-box-content d-flex">
									<span class="h3 info-box-number d-inline"
										th:text="${registeredClinicUsersThisMonth}"></span>
									<span class="info-box-text"
										th:text="'Clinic Users registered in '+${#calendars.format(#calendars.createNow(), 'MMMM')}"></span>
								</div>
							</div>
						</div><!-- /.col -->
						<div class="col-md-3 col-sm-6 col-12">
							<div class="info-box">
								<span class="info-box-icon bg-info"><i class="fas fa-building"></i></span>
								<div class="info-box-content">
									<span class="h3 info-box-number" th:text="${registeredOrgThisMonth}"></span>
									<span class="info-box-text"
										th:text="'Organizations registered in '+${#calendars.format(#calendars.createNow(), 'MMMM')}"></span>
								</div>
							</div>
						</div><!-- /.col -->
						<div class="col-md-3 col-sm-6 col-12">
							<div class="info-box">
								<span class="info-box-icon bg-info"><i class="fas fa-briefcase"></i></span>
								<div class="info-box-content">
									<span class="h3 info-box-number" th:text="${jobsProcessed}"></span>
									<span class="info-box-text">Jobs Processed</span>
								</div>
							</div>
						</div><!-- /.col -->
					</div><!-- /.row -->
					<div class="row">
						<div class="col-lg-6">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">User Category</h3>
								</div>
								<!-- /.card-header -->
								<div class="card-body">
									<canvas id="user-category-pie"></canvas>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Latest Organizations</h3>
								</div>
								<!-- /.card-header -->
								<div class="card-body p-0">
									<div class="table-responsive">
										<table class="table m-0 table-sm table-striped table-valign-middle">
											<tbody>
												<tr th:each="org : ${latestOrganizations}">
													<td><strong><span th:text="${org.name}"></span></strong></td>
													<td width="40%">Registered on <span
															th:text="${org.getDateRegisteredString}"></span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- /.card-body -->
								<div class="card-footer text-center">
									<a th:href="@{'/UserList'}">View All Organizations & Users</a>
								</div>
								<!-- /.card-footer -->
							</div>
							<!-- /.card -->
						</div>
						<div class="col-lg-6">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Number of New Users Registered in the Past 12 Months</h3>
								</div>
								<!-- /.card-header -->
								<div class="card-body">
									<canvas id="new-users-line"></canvas>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Latest Job Posts</h3>
								</div>
								<!-- /.card-header -->
								<div class="card-body p-0">
									<div class="table-responsive">
										<table class="table m-0">
											<thead>
												<tr>
													<th>ID</th>
													<th>Job Post Title</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="jp : ${latestJobPosts}">
													<td><a th:href="@{/jobpost}+${'/'+jp.id}"
															th:text="${'#'+jp.id}"></a>
													</td>
													<td th:text="${jp.title}"></td>
													<td>
														<span th:if="${jp.status.name == 'OPEN'}"
															class="badge bg-lightblue" th:text="${jp.status.value}">
														</span>
														<span
															th:if="${jp.status.name == 'CANCELLED' OR jp.status.name == 'REMOVED'}"
															class="bg-gray badge" th:text="${jp.status.value}"></span>
														<span
															th:if="${jp.status.name == 'PENDING_CONFIRMATION_BY_CLINIC'}"
															class="bg-warning badge" th:text="${jp.status.value}">
														</span>
														<span th:if="${jp.status.name == 'ACCEPTED'}"
															class="bg-success badge" th:text="${jp.status.value}">
														</span>
														<span th:if="${jp.status.name == 'COMPLETED_PENDING_PAYMENT'}"
															class="bg-danger badge" th:text="${jp.status.value}">
														</span>
														<span th:if="${jp.status.name == 'COMPLETED_PAYMENT_PROCESSED'}"
															class="bg-navy badge" th:text="${jp.status.value}"></span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- /.card-body -->
								<div class="card-footer text-center">
									<a th:href="@{'/jobpost/list'}">View
										All Job Posts</a>
								</div>
								<!-- /.card-footer -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<div th:replace="fragments/layout.html :: footer" />
		<div th:replace="fragments/layout.html :: script" />
	</div>
	<script src="../plugins/chart.js/Chart.min.js"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		/* PIE CHART */
		const ctx = document.getElementById('user-category-pie');
		var userCategories = /*[[${userCategories}]]*/ {};
		var totalsByUserCategories = /*[[${totalsByUserCategories}]]*/ {};
		var pieOptions = {
			legend: {
				position: 'right',
				labels: {
					usePointStyle: true,
					pointStyle: 'circle',
					padding: 15
				}
			}
		};
		const userCategoriesChart = new Chart(ctx, {
			type: 'pie',
			data: {
				labels: userCategories,
				datasets: [{
					data: totalsByUserCategories,
					backgroundColor: COLORS,
					hoverOffset: 4
				}]
			},
			options: pieOptions
		});
		/* LINE CHART - MONTHLY USER REGISTRATION */
		var userChartDates = /*[[${userChartDates}]]*/ {};
		var clinicUserCounts = /*[[${clinicUserCounts}]]*/ {};
		var locumCounts = /*[[${locumCounts}]]*/ {};
		const usersChartCtx = document.getElementById('new-users-line');
		var lineOptions = {
			legend: {
				align: 'end',
				position: 'top',
				labels: {
					boxWidth: 10
				}
			}
		};
		const usersChart = new Chart(usersChartCtx, {
			type: 'bar',
			data: {
				datasets: [{
					label: 'Locum Doctors',
					data: locumCounts,
					backgroundColor: 'rgba(7, 60, 75, 0.7)'
				}, {
					label: 'Clinic Users',
					data: clinicUserCounts,
					backgroundColor: 'rgba(75, 192, 192, 0.7)'
				}],
				labels: userChartDates
			},
			options: lineOptions
		});
		/*]]>*/
	</script>
</body>

</html>