<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">

<head th:replace="fragments/layout.html :: html_head" />

<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/layout.html :: nav_menu" />
		<div th:replace="fragments/layout.html :: sidebar" />

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Create New Job Posting</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item"><a th:href="@{/jobpost/list}">Job Posts</a></li>
								<li class="breadcrumb-item active">Create</li>
							</ol>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<h1 th:value="${testrate}">
									</h1>
									<form action="#" th:action="@{'/jobpost/create'}" th:object="${jobPost}"
										method="post">

										<div class="mb-3 form-group">
											<label class="form-label">Title</label>
											<input th:field="*{title}" type="text" class="form-control" required>
										</div>

										<div class="mb-3 form-group">
											<label class="form-label">Description</label>
											<textarea th:field="*{description}" type="text" class="form-control"
												required></textarea>
										</div>

										<!-- Date & Time -->
										<div class="mb-3 form-group col-xl-6 px-0">
											<label class="form-label">Date & Time of Job</label>
											<div class="form-row">
												<div class="col">
													<div class="input-group">
														<div class="input-group-prepend">
															<div class="input-group-text"><i
																	class="fa fa-calendar mr-2"></i>Start
															</div>
														</div>
														<input id="startDateTime" th:value="*{startDateTime}"
															type="text" class="form-control" name="datetimes1"
															onchange="validateFields()" />
													</div>
													<div id="startDate-feedback" class="invalid-feedback d-block">
													</div>
													<input id="datetimes1" th:field="*{startDateTime}"
														value="${jobPost.startDateTime}" type="text"
														class="form-control" />
												</div>
												<div class="col">
													<div class="input-group">
														<div class="input-group-prepend">
															<div class="input-group-text"><i
																	class="fa fa-calendar mr-2"></i>End
															</div>
														</div>
														<input id="endDateTime" th:value="*{endDateTime}" type="text"
															class="form-control" name="datetimes2"
															onchange="validateFields()" />
													</div>
													<div id="endDate-feedback" class="invalid-feedback d-block">
													</div>
													<input id="datetimes2" th:field="*{endDateTime}"
														value="${jobPost.endDateTime}" type="text"
														class="form-control" />
												</div>
											</div>
										</div>

										<div class="row">
											<div class="mb-3 form-group col-xl-6">
												<label class="form-label">Clinic</label>
												<select th:field="*{clinic.id}" class="form-control" required>
													<option value="" selected hidden>Please select a clinic</option>
													<option th:each="c : ${clinics}" th:value="${c.id}"
														th:text="${c.name}">
														Clinics</option>
												</select>
											</div>
										</div>

										<div class="form-row align-items-top">
											<div class="form-group col-xl-6">
												<label class="form-label">Rate/hour</label>
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">$</span>
													</div>
													<input th:field="*{ratePerHour}" type="number" min="0" step="0.01"
														class="form-control" onkeyup="validateFields()"
														oninput="checkTrend()" required />
													<div class="input-group-append">
														<span class="input-group-text mt-10">x</span>
														<span id="totalHours" class="input-group-text">? hours</span>
														<span class="input-group-text">=</span>
														<span class="input-group-text">$</span>
														<input id="totalRate" type="text"
															class="form-control input-group-text" value="?" readonly />
													</div>
												</div>
												<div id="ratePerHour-trend-feedback"></div>
												<div id="ratePerHour-feedback" class="invalid-feedback d-block"></div>
											</div>
										</div><button id="submitbtn" type="submit" class="btn btn-info">Create</button>
									</form>
								</div>
							</div>
						</div>
						<!-- /.col -->
					</div>
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<div th:replace="fragments/layout.html :: footer" />
		<div th:replace="fragments/layout.html :: script" />
	</div>

	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Error</h5>
				</div>
				<div class="modal-body">
					Unable to create a job post as your clinic list is empty.<br>
					<a th:href="@{/addClinicForm}">Click here to add a clinic.</a>
				</div>
				<div class="modal-footer">
					<a class="btn btn-info" th:href="@{/addClinicForm}">Add Clinic</a>
				</div>
			</div>
		</div>
	</div>

</body>
<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function () {
		var clinicList = /*[[${clinics}]]*/ {};
		if (clinicList.length == 0) {
			$('#staticBackdrop').modal();
		}
	});
	/*]]>*/

	currentDate = new Date();
	var startInput = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate(), 8, 0, 0, 0);
	var endInput = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate(), 9, 0, 0, 0);
	$('#datetimes1').val(dateToString(startInput));
	$('#datetimes2').val(dateToString(endInput));

	$('input[name="datetimes1"]').daterangepicker({
		"singleDatePicker": true,
		"timePicker": true,
		"timePicker24Hour": true,
		"timePickerIncrement": 30,
		"autoApply": true,
		"startDate": startInput,
		locale: {
			format: 'DD/MM/YYYY HH:mm'
		}
	}, function (start, end, label) {
		console.log('New date range selected: ' + start.format('YYYY-MM-DD hh:mm A') + ' to ' + end.format('YYYY-MM-DD hh:mm A') + ')');
		startInput = new Date(start.toLocaleString());
		$('#datetimes1').val(dateToString(startInput));
	});
	$('input[name="datetimes2"]').daterangepicker({
		"singleDatePicker": true,
		"timePicker": true,
		"timePicker24Hour": true,
		"timePickerIncrement": 30,
		"autoApply": true,
		"startDate": endInput,
		locale: {
			format: 'DD/MM/YYYY HH:mm A'
		}
	}, function (start, end, label) {
		console.log('New date range selected: ' + start.format('YYYY-MM-DD hh:mm A') + ' to ' + end.format('YYYY-MM-DD hh:mm A') + ')');
		endInput = new Date(start.toLocaleString());
		$('#datetimes2').val(dateToString(endInput));
	});
	function dateToString(date) {
		return String(date.getDate()).padStart(2, '0') + '-' + String(date.getMonth() + 1).padStart(2, '0') + '-' + date.getFullYear() + ' ' + String(date.getHours()).padStart(2, '0') + ':' + String(date.getMinutes()).padStart(2, '0');
	}
	function validateFields() {
		var startElem = document.getElementById("startDateTime");
		var endElem = document.getElementById("endDateTime");
		var rateElem = document.getElementById("ratePerHour");

		var diff = endInput - startInput;

		var startFeedbackElem = document.getElementById("startDate-feedback");
		var endFeedbackElem = document.getElementById("endDate-feedback");
		if (diff <= 0) {
			endElem.classList.add("is-invalid");
			startElem.classList.add("is-invalid");
			endFeedbackElem.innerHTML = "End date cannot be same or earlier than start date.";
			startFeedbackElem.innerHTML = "Start date cannot be same or later than end date.";
			resetTotalRate();
		} else {
			startElem.classList.remove("is-invalid");
			startFeedbackElem.innerHTML = "";
			endElem.classList.remove("is-invalid");
			endFeedbackElem.innerHTML = "";
		}

		var rateFeedbackElem = document.getElementById("ratePerHour-feedback");
		if (isNaN(rateElem.valueAsNumber)) {
			rateElem.classList.add("is-invalid");
			rateFeedbackElem.innerHTML = "Please enter a valid number";
			resetTotalRate();
			return;
		} else {
			rateElem.classList.remove("is-invalid");
			rateFeedbackElem.innerHTML = "";
		}
		calculateTotalRate(diff, rateElem.valueAsNumber);
		checkTrend();
	}

	function resetTotalRate() {
		document.getElementById("totalHours").innerHTML = "? hours";
		document.getElementById("totalRate").value = "?";
		document.getElementById("submitbtn").disabled = true;
	}

	function calculateTotalRate(duration, rate) {
		if (duration <= 0 || isNaN(rate) || isNaN(duration)) {
			resetTotalRate();
			return;
		}
		var totalHours = duration / 1000 / 60 / 60;
		document.getElementById("totalHours").innerHTML = totalHours + " hours";
		document.getElementById("totalRate").value = (Math.round(totalHours * rate * 100) / 100).toFixed(2);
		document.getElementById("submitbtn").disabled = false;
	}

	function checkTrend() {
		var userDateInput = document.getElementById("startDateTime");
		console.log(userDateInput.value)
		var rateElem = document.getElementById("ratePerHour");
		if (userDateInput.value) {
			var converted = new Date(userDateInput.value);
			var dayNumber = converted.getDay();
			var rate_per_hour_feedback = document.getElementById("ratePerHour-trend-feedback");
			rate_per_hour_feedback.innerHTML = '';
			var weekdayrate = /*[[${weekdayTrend}]]*/ null;
			var weekdayrate = parseFloat(weekdayrate);
			var weekendrate = /*[[${weekendTrend}]]*/ null;
			var weekendrate = parseFloat(weekendrate);
			if (dayNumber == 0 || dayNumber == 6) {
				console.log((rateElem.valueAsNumber / weekendrate));
				if ((rateElem.valueAsNumber / weekendrate) < 0.8) {
					rate_per_hour_feedback.innerHTML = 'Your proposed rate is substantially lower than the recent average trending rate for weekend ($' + weekendrate.toFixed(2) + "). You may wish to reconsider again to ensure a higher chance of the job post being filled.";
					rate_per_hour_feedback.className = "text-danger";
				}
			}
			else {
				if ((rateElem.valueAsNumber / weekdayrate) < 0.8) {
					rate_per_hour_feedback.innerHTML = 'Your proposed rate is substantially lower than the recent average trending rate for weekday ($' + weekdayrate.toFixed(2) + "). You may wish to reconsider again to ensure a higher chance of the job post being filled.";
					rate_per_hour_feedback.className = "text-danger";
				}
			}
		}
	}
</script>

</html>