<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">

<head>
	<div th:replace="fragments/layout.html :: html_head" />
	<div th:replace="fragments/layout.html :: datatable_css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.12.4.js"></script>
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>


<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/layout.html :: nav_menu" />
		<div th:replace="fragments/layout.html :: sidebar" />

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">View Job Posts</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Job Post</li>
							</ol>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="col">
								<div class="card card-primary card-outline card-outline-tabs">
									<div class="card-header p-0 border-bottom-0">
										<ul class="nav nav-tabs">
											<li class="nav-item"><a class="nav-link active"
													th:href="@{/jobpost/list}">Posted by Organization</a></li>
											<li class="nav-item"><a class="nav-link" href="">Posted by Me</a></li>
											<li class="nav-item ml-auto"
												th:if="${session.user.role.name != 'System_Admin'}"><a class="nav-link"
													th:href="@{/jobpost/create}"><i class="nav-icon fas fa-plus"></i>
													Add Job Post</a>
											</li>
										</ul>
									</div>
									<div class="card-body">
										<div class="table-responsive overflow-hidden">
											<table id="example1" class="table table-bordered table-hover">
												<thead>
													<tr>
														<th>S/N</th>
														<th>Job Title</th>
														<th>Clinic Location</th>
														<th>Date/Time</th>
														<th>Created By</th>
														<th>Status</th>
														<th>Date Modified</th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="jp : ${jobPosts}" class="listRecord">
														<td th:text="${jp.id}">Job Post Id</td>
														<td th:text="${jp.title}">Job Title</td>
														<td th:text="${jp.clinic.name}">Clinic Location</td>
														<td>
															<span th:text="${jp.getStartDateTimeString()}"></span>
															to<br>
															<span th:text="${jp.getEndDateTimeString()}"></span>
														</td>
														<td th:text="${jp.clinicUser.name}">Created By</td>
														<td>
															<span th:if="${jp.status.name == 'OPEN'}"
																class="badge bg-lightblue" th:text="${jp.status.value}">
															</span>
															<span
																th:if="${jp.status.name == 'CANCELLED' OR jp.status.name == 'REMOVED'}"
																class="bg-gray badge"
																th:text="${jp.status.value}"></span>
															<span
																th:if="${jp.status.name == 'PENDING_CONFIRMATION_BY_CLINIC'}"
																class="bg-warning badge" th:text="${jp.status.value}">
															</span>
															<span th:if="${jp.status.name == 'ACCEPTED'}"
																class="bg-success badge" th:text="${jp.status.value}">
															</span>
															<span
																th:if="${jp.status.name == 'COMPLETED_PENDING_PAYMENT'}"
																class="bg-danger badge" th:text="${jp.status.value}">
															</span>
															<span
																th:if="${jp.status.name == 'COMPLETED_PAYMENT_PROCESSED'}"
																class="bg-navy badge"
																th:text="${jp.status.value}"></span>
														</td>
														<td> <span
																th:text="${jp.getDateTimeString(jp.getDateTimeModified)}"></span>
														</td>
														<td align="center">
															<a th:href="@{/jobpost/}+${jp.id}">
																<div
																	th:if="${jp.status.name == 'OPEN' OR jp.status.name == 'CANCELLED' OR jp.status.name == 'COMPLETED_PAYMENT_PROCESSED'}">
																	View
																</div>
																<div
																	th:unless="${jp.status.name == 'OPEN' OR jp.status.name == 'CANCELLED' OR jp.status.name == 'COMPLETED_PAYMENT_PROCESSED'}">
																	Edit
																</div>
															</a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<!-- /.card-body -->
								</div>
								<!-- /.card -->
							</div>
						</div>
						<!-- /.col -->
					</div>

				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<div th:replace="fragments/layout.html :: footer" />
		<div th:replace="fragments/layout.html :: script" />
		<div th:replace="fragments/layout.html :: datatable_script" />

		<script>
			$(function () {
				$("#example1").DataTable({
					"responsive": true, "lengthChange": false, "autoWidth": false,
					"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
				}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
			});
		</script>
	</div>
</body>

</html>