<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{fragments/layout}">

<head th:replace="fragments/layout.html :: html_head" />

<body class="hold-transition sidebar-mini">
<div class="wrapper">
	<div th:replace="fragments/layout.html :: nav_menu" />
	<div th:replace="fragments/layout.html :: sidebar" />

	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Create New Job Posting</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item"><a th:href="@{/jobpost/list}">Job Posts</a></li>
							<li class="breadcrumb-item active">Create</li>
						</ol>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<form action="#" th:action="@{'/jobpost/create'}" th:object="${jobPostForm}" method="post">
							<div class="mb-3 form-group">
								<label class="form-label">Description</label>
								<input th:field="*{description}" type="text" class="form-control">
							</div>
							<div class="row">
								<div class="mb-3 col">
									<label class="form-label">Start Date</label>
									<input th:field="*{startDate}" type="date" class="form-control">
								</div>
								<div class="mb-3 col">
									<label class="form-label">End Date</label>
									<input th:field="*{endDate}" type="date" class="form-control">
								</div>
							</div>
							<div class="row">
								<div class="mb-3 col">
									<label class="form-label">Start Time</label>
									<input th:field="*{startTime}" type="time" class="form-control">
								</div>
								<div class="mb-3 col">
									<label class="form-label">End Time</label>
									<input th:field="*{endTime}" type="time" class="form-control">
								</div>
							</div>
							<div class="mb-3 form-group">
								<label class="form-label">Clinic</label>
								<select th:field="*{clinicId}" class="form-select" required>
									<option value="" selected hidden>Please select a clinic</option>
									<option th:each="c : ${clinics}" th:value="${c.id}" th:text="${c.name}">Clinics</option>
								</select>
							</div>
							<div class="mb-3 form-group">
								<label class="form-label">Rate/hour</label>
								<div class="input-group">
									<span class="input-group-text">$</span>
									<input th:field="*{ratePerHour}" type="text" class="form-control">
								</div>
							</div>
							<div class="mb-3 form-group">
								<label class="form-label">Total Rate</label>
								<div class="input-group">
									<span class="input-group-text">$</span>
									<input th:field="*{totalRate}" type="text" class="form-control">
								</div>
							</div>
							<button type="submit" class="btn btn-info">Create</button>
						</form>
							</div>
						</div>
					</div>
					<!-- /.col -->
				</div>


			</div><!-- /.container-fluid -->
		</div>
		<!-- /.content -->
	</div>
	<div th:replace="fragments/layout.html :: footer" />
	 <div th:replace="fragments/layout.html :: script" />

</div>
</body>

</html>