<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">

<head th:replace="fragments/layout.html :: html_head" />

<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/layout.html :: nav_menu" />
		<div th:replace="fragments/layout.html :: sidebar" />

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0"
								th:text="${jobPost.status.name == 'ACCEPTED' ? 'Update Job Posting' : 'View Job Posting'}">
								Update Job Posting</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item"><a th:href="@{/jobpost/list}">Job Posts</a></li>
								<li th:text="${jobPost.status.name == 'ACCEPTED' ? 'Update Job Posting' : 'View Job Posting'}"
									class="breadcrumb-item active"></li>
							</ol>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content">

				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<div class="card">
								<div class="card-body">
									<form action="#" th:action="@{'/jobpost/update'}" th:object="${jobPost}"
										method="post">
										<input type="hidden" th:field="*{id}" />
										<div class="row">
											<div class="mb-3 form-group col">
												<label class="form-label">Title</label>
												<input th:field="*{title}" type="text" class="form-control"
													th:value="*{title}" readonly>
											</div>
											<div class="mb-3 form-group col">
												<label class="form-label">Status</label>
												<input id="currentStatus" type="text" class="form-control"
													th:value="*{status.value}" readonly>
											</div>
										</div>
										<div class="mb-3 form-group">
											<label class="form-label">Description</label>
											<input th:field="*{description}" type="text" class="form-control"
												th:value="*{description}" readonly>
										</div>
										<div class="row">
											<div class="mb-3 col">
												<label class="form-label">Start Date & Time</label>
												<input type="text" class="form-control"
													th:value="*{getStartDateTimeString}" readonly />
											</div>
											<div class="mb-3 col">
												<label class="form-label">End Date & Time</label>
												<input type="text" class="form-control"
													th:value="*{getEndDateTimeString}" readonly />
											</div>
										</div>
										<div class="mb-3 form-group">
											<label class="form-label">Clinic</label>
											<input th:field="*{clinic.name}" type="text" class="form-control"
												th:value="*{clinic.name}" readonly>
										</div>

										<div class="row">
											<div class="mb-3 form-group col-auto">
												<label class="form-label">Rate/hour</label>
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">$</span>
													</div>
													<input id="${jobPost.ratePerHour}" type="number" min="0" step="0.01"
														class="form-control"
														th:value="${jobPost.getRatePerHour2dpString}" readonly />
												</div>
											</div>
											<div class="mb-3 form-group col-auto">
												<label class="form-label">Total Rate</label>
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">$</span>
													</div>
													<input id="totalRate" type="text" class="form-control"
														th:value="${jobPost.getActualTotalRateString()}" readonly />
												</div>
											</div>
										</div>

										<div class="form-row"
											th:unless="${jobPost.status.name == 'ACCEPTED' OR jobPost.status.name == 'COMPLETED_PAYMENT_PROCESSED'}">
											<div class="mb3 form-group col-12">
												<label class="form-label">Remarks</label>
												<input th:field="${jobPost.additionalRemarks}" type="text"
													class="form-control">
											</div>
										</div>
										<button th:if="${jobPost.status.name == 'COMPLETED_PENDING_PAYMENT'}"
											type="submit" name="payment-processed" value="payment-processed"
											class="btn btn-info col">Set
											as Completed (Payment Processed)</button>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<!-- Profile Image -->
							<div class="card card-primary card-outline">
								<div class="card-body box-profile">
									<div class="text-center">
										<img class="profile-user-img img-fluid img-circle"
											src="../../dist/img/user4-128x128.jpg" alt="User profile picture">
									</div>

									<h3 class="profile-username text-center"
										th:text="${jobPost.getFreelancer().getName()}"></h3>

									<p class="text-muted text-center">Locum</p>

									<ul class="list-group list-group-unbordered mb-3">
										<li class="list-group-item">
											<b>License</b> <a class="float-right"
												th:text="${jobPost.getFreelancer().getMedicalLicenseNo()}"></a>
										</li>
										<li class="list-group-item">
											<b>Email</b> <a class="float-right"
												th:text="${jobPost.getFreelancer().getEmail()}"></a>
										</li>
										<li class="list-group-item">
											<b>Contact</b> <a class="float-right"
												th:text="${jobPost.getFreelancer().getContact()}"></a>
										</li>
										<li th:if="${jobPost.status.name == 'COMPLETED_PENDING_PAYMENT'}"
											class="list-group-item">
											<b>Actual Start Date & Time</b> <a class="float-right"
												th:text="${jobPost.getDateTimeString(jobPost.getActualStartDateTime())}"></a>
										</li>
										<li th:if="${jobPost.status.name == 'COMPLETED_PENDING_PAYMENT'}"
											class="list-group-item">
											<b>Actual End Date & Time</b> <a class="float-right"
												th:text="${jobPost.getDateTimeString(jobPost.getActualEndDateTime())}"></a>
										</li>
									</ul>
									<button th:if="${jobPost.status.name == 'PENDING_CONFIRMATION_BY_CLINIC'}"
										type="submit" name="confirm-locum" value="confirm-locum"
										class="btn btn-info col mb-3">Confirm
										Locum
									</button>
									<button
										th:if="${jobPost.status.name == 'PENDING_CONFIRMATION_BY_CLINIC' OR jobPost.status.name == 'ACCEPTED'}"
										type="submit" name="cancel-locum" value="cancel-locum"
										class="btn btn-outline-warning col mb-3">Cancel
										Locum
									</button>

									<a href="/jobpost/list">
										<< Back to Job Postings</a>

								</div>
							</div>
							<!-- /.card -->
						</div>
					</div>

					<div class="row">
						<!-- start -->
						<div class=" col-xl-9">
							<div th:if="${jobPost.status.name == 'ACCEPTED'}" class="card">
								<div class="card-header">
									<h3 class="card-title">Set Job Completion Details</h3>
								</div>
								<div class="card-body table-responsive p-0">
									<div class="card-body">

										<div class="row">
											<div class='col'>
												<div class="form-group">
													<label class="form-label">Actual Start to End Date & Time</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<div class="input-group-text"><i class="fa fa-calendar"></i>
															</div>
														</div>
														<input type="text" class="form-control" name="datetimes" />
													</div>
													<input th:field="${jobPost.actualStartDateTime}" type="text"
														class="form-control" id="datetimes1" value="" hidden />
													<input th:field="${jobPost.actualEndDateTime}" type="text"
														class="form-control" id="datetimes2" value="" hidden />
												</div>
											</div>
										</div>

										<div class="row" id="additionalRemarks">
											<div class="mb3 col-12">
												<label class="form-label">Remarks</label>
												<input th:field="${jobPost.additionalRemarks}" type="text"
													class="form-control">
											</div>
										</div>

										<button th:if="${jobPost.status.name == 'ACCEPTED'}" type="submit"
											name="pending-payment" value="pending-payment"
											class="btn btn-info col mt-3">Set
											as Completed (Pending Payment)</button>
									</div>
								</div>
							</div><!-- end -->
						</div>
						</form>

						<div class="col-xl-9"
							th:unless="${jobPost.status.name == 'COMPLETED_PAYMENT_PROCESSED' AND jobPost.getAdditionalFeeDetails().size() == 0}">
							<div class="card card-danger card-outline">
								<div class="card-header">
									<h3 class="card-title">Additional Fees</h3>
									<div class="card-tools">
										<!-- Collapse Button -->
										<button type="button" class="btn btn-tool" data-card-widget="collapse"><i
												class="fas fa-minus"></i></button>
									</div>
									<!-- /.card-tools -->
								</div>
								<!-- /.card-header -->
								<div class="card-body" th:if="${jobPost.status.name != 'COMPLETED_PAYMENT_PROCESSED'}">
									<h4>Add Fee</h4>
									<form th:action="@{'/jobpost/additional'}" th:object="${additional}" method="post">
										<input type="hidden" th:field="*{jobPostId}"
											th:value="${additional.jobPostId}" />
										<div class="mb-3 form-group">
											<label class="form-label">Description</label>
											<input th:field="*{description}" type="text" class="form-control"
												th:value="*{description}">
										</div>
										<div class="mb-3 form-group">
											<label class="form-label">Amount</label>
											<input th:field="*{additionalFeesAmount}" type="text" class="form-control"
												th:value="*{additionalFeesAmount}">
										</div>
										<button type="submit" name="add-fee" value="add-fee"
											class="btn btn-info">Add</button>
									</form>
								</div>

								<div th:if="${jobPost.getAdditionalFeeDetails().size() > 0}"
									class="card-body table-responsive p-0">
									<table class="table table-bordered table-hover text-nowrap"
										style="border-top:1px solid rgba(0,0,0,.125);">
										<thead>
											<tr>
												<th style="width: 10px">#</th>
												<th>Description</th>
												<th>Amount</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="additional: ${jobPost.getAdditionalFeeDetails()}">
												<td>1</td>
												<td th:text="${additional.getDescription()}" />
												<td th:text="${additional.getAdditionalFeesAmount()}" />
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- /.card-body -->
							</div>
						</div>
						<!-- /.card -->

						<!-- remarks start -->
						<div class="col-xl-9">
							<div th:if="${remarksList.size() > 0}" class="card">
								<div class="card-header">
									<h3 class="card-title">Remarks History</h3>
								</div>
								<div class="card-body table-responsive p-0">
									<table class="table table-hover text-nowrap">
										<thead>
											<tr>
												<th>ID</th>
												<th>User</th>
												<th>Date</th>
												<th>Category</th>
												<th>Remarks</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="r : ${remarksList}">
												<td th:text="${r.id}"></td>
												<td th:text="${r.user.name}"></td>
												<td th:text="${r.date}"></td>
												<td th:text="${r.category.value}"></td>
												<td th:text="${r.remarks}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div><!-- additional end -->
					</div>
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<div th:replace="fragments/layout.html :: footer" />
		<div th:replace="fragments/layout.html :: script" />
	</div>

	<script>
		$('input[name="datetimes"]').daterangepicker({
			"timePicker": true,
			"timePickerIncrement": 30,
			"autoApply": true,
			locale: {
				format: 'MM/DD/YYYY hh:mm A'
			}
		}, function (start, end, label) {
			$('#datetimes1').val(start.format('DD-MM-YYYY HH:mm'));
			$('#datetimes2').val(end.format('DD-MM-YYYY HH:mm'));
		});
	</script>
</body>

</html>