<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{fragments/layout}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Locum Application</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <!-- Bootstrap CSS -->
    <style>
</style>
</head>
<body>
    <br/>
    <div class="container">
		<h1>Organization Registration Form</h1>
		<hr>
		<form  th:object="${organization}" th:action="@{/register/registerOrg}"method="POST">
			<div class="row">
                <div class="col-sm-2">
                  <label for="organization">Organization:</label>
                </div>
                <div class="col-sm-6">
                  <input type="text" th:field="*{name}" class="form-control" id="organization" name="organization">
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-sm-2">
                  <label for="uen">UEN:</label>
                </div>
                <div class="col-sm-6">
                  <input type="text" th:field="*{UEN}" class="form-control" id="uen" name="uen">
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-sm-2">
                  <label for="address">Address:</label>
                </div>
                <div class="col-sm-6">
                  <input type="text" th:field="*{address}"class="form-control" id="address" name="address">
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-sm-2">
                  <label for="address">Contact:</label>
                </div>
                <div class="col-sm-6">
                  <input type="text" th:field="*{contact}"class="form-control" id="contact" name="contact">
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-sm-2">
                    <label for="address"></label>
                  </div>
                  <div class="col-sm-6">
			<button type="submit" class="btn btn-info col-2">Register</button>
        </div>
        </div>
		</form>

		<hr>

	</div>
<br/>
    <footer b-8i4qlzt809 class="border-top footer text-muted">
        <div b-8i4qlzt809 class="container">
            &copy; 2023 - Locum Application
        </div>
    </footer>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</html>
