<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">


<head>
	<div th:replace="fragments/layout.html :: html_head" />
	<div th:replace="fragments/layout.html :: datatable_css" />
</head>

<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/layout.html :: nav_menu" />
		<div th:replace="fragments/layout.html :: sidebar" />

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">View Organizations</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Organization</li>
							</ol>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div
								class="d-flex flex-row mb-3 justify-content-between  align-items-center pt-3 pb-2 border-bottom">
								<div class="p-2">

								</div>
								<div class="p-2">

								</div>
							</div>
							<div class="card">
								<div class="card-body">
									<div class="table-responsive overflow-hidden">
										<table id="example1" class="table table-bordered table-hover">
											<thead>
												<tr>
													<th>ID</th>
													<th>Organization Name</th>
													<th>UEN</th>
													<th>Address</th>
													<th>Contact</th>
													<th>Status</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="org : ${orgList}" class="listRecord">
													<td th:text="${org.id}">Organization ID</td>
													<td th:text="${org.name}">Organization Name</td>
													<td th:text="${org.UEN}">UEN</td>
													<td th:text="${org.address}" class="col-5">Address</td>
													<td th:text="${org.contact}">Contact</td>
													<td>
														<span th:if="${org.active == true}" th:text="Active"></span>
														<span th:unless="${org.active == true}"
															th:text="Deactivated"></span>
													</td>
													<td align="center">
														<div>
															<a th:if="${org.active == true}"
																th:href="@{/organization/disable/}+${org.id}">Deactivate</a>
															<a th:unless="${org.active == true}"
																th:href="@{/reactivateOrganization/}+${org.id}">Activate</a>
														</div>
														<div><a th:href="@{/organization/viewDetails/}+${org.id}">View
																Details</a></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- /.card-body -->
							</div>
							
							
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>


				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<div th:replace="fragments/layout.html :: footer" />
		<div th:replace="fragments/layout.html :: script" />
		<div th:replace="fragments/layout.html :: datatable_script" />

		<script>
			$(function () {
				$("#example1").DataTable({
					"responsive": true, "lengthChange": false, "autoWidth": false,
					"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
				}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
			});
		</script>
	</div>
</body>

</html>