<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">

<head>
	<div th:replace="fragments/layout.html :: html_head" />
	<div th:replace="fragments/layout.html :: datatable_css" />
</head>

<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/layout.html :: nav_menu" />
		<div th:replace="fragments/layout.html :: sidebar" />

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Payments (Summary) </h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Job Post</li>
							</ol>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div
								class="d-flex flex-row mb-3 justify-content-between  align-items-center pt-3 pb-2 border-bottom">
								<div class="p-2">
									<form th:action="@{/paymentSummary/}" method="get">
										<select name="paymentStatus" id="selection" onchange={test}>
											<option value="Unpaid">Pending Payment</option>
											<option value="Paid">Paid</option>
											<option value="All">All Completed Jobs</option>
										</select>
									</form>
								</div>
								<div class="p-2">
									<form th:action="@{/jobpost/create}">
										<button type="submit" class="btn btn-info">Add Job Post</button>
									</form>
								</div>
							</div>
							<div id="replace_div">
								<div class="card">
									<div class="card-body">
										<div class="table-responsive">
											<table id="example1" class="table table-bordered table-hover">
												<thead id="table_body">
													<tr>
														<th>S/N</th>
														<th>Job ID</th>
														<th>Job Description</th>
														<th>Clinic Location</th>
														<th>Status</th>
														<th>Completed Date/Time</th>
														<th>Doctor Name/Medical License No</th>
														<th>Total Fees</th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody id="test">
													<!-- Fill in table items here -->
													<tr th:each="jp, iStat : ${jobPosts}" class="listRecord">
														<td th:text="${iStat.index + 1}">S/N</td>
														<td th:text="${jp.id}">Job Post Id</td>
														<td th:text="${jp.description}">Job Description</td>
														<td th:text="${jp.clinic.name}">Clinic Location</td>
														<td th:id="status_column">
															<p style="pointer-events:none" type="button"
																th:if="${jp.status.name == 'COMPLETED_PENDING_PAYMENT'}"
																class="bg-danger btn btn-sm my-auto"
																th:text="${jp.status.value}"></p>
															<p style="pointer-events:none"
																th:if="${jp.status.name == 'COMPLETED_PAYMENT_PROCESSED'}"
																class="bg-navy btn btn-sm my-auto"
																th:text="${jp.status.value}"></p>
														</td>
														<td>
															<span th:text="${jp.getStartDateTimeString()}"></span>
															to<br>
															<span th:text="${jp.getEndDateTimeString()}"></span>
														</td>
														<td th:text="${'Dr ' + jp.getFreelancer().getName() + ' (' + jp.getFreelancer().getMedicalLicenseNo() + ')'}">Name</td>
														<td th:text="${'$' + jp.computeEstimatedTotalRate()}">Total Fees</td>
														<td align="center">
															<div th:switch="${#strings.toString(jp.status)}">
																<a th:case="'OPEN'"
																	th:href="@{/jobpost/}+${jp.id}+@{/delete}">Delete</a>
																<a th:case="'PENDING'"
																	th:href="@{/jobpost/}+${jp.id}+@{/cancel}">Cancel</a>
															</div>
															<div><a th:href="@{/jobpost/}+${jp.id}">View</a></div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<!-- /.card-body -->
								</div>
								<!-- /.card -->
							</div>
						</div>
						<!-- /.col -->
					</div>
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<div th:replace="fragments/layout.html :: footer" />
		<!--	<div th:replace="fragments/layout.html :: script" />-->
		<!-- jQuery -->
		<script src="/plugins/jquery/jquery.min.js"></script>
		<!-- Bootstrap 4 -->
		<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- DataTables  & Plugins -->
		<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
		<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
		<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
		<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
		<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
		<script src="/plugins/jszip/jszip.min.js"></script>
		<script src="/plugins/pdfmake/pdfmake.min.js"></script>
		<script src="/plugins/pdfmake/vfs_fonts.js"></script>
		<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
		<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
		<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
		<!-- AdminLTE App -->
		<script src="/dist/js/adminlte.min.js"></script>
		<!-- AdminLTE for demo purposes -->
		<!--	<script src="/dist/js/demo.js"></script>-->
		<!-- Page specific script -->
		<script>
			$(function () {
				$("#example1").DataTable({
					"responsive": true, "lengthChange": false, "autoWidth": false,
					"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
				}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

			});

			//set on change listener
			$('#selection').change(test);

			function test() {
				console.log("triggered!");
				var url = "/paymentSummary";
				if ($('#selection').val() === "Unpaid") {
					url = url + "/outstandingPayments"

				} else if ($('#selection').val() === "Paid") {
					url = url + "/PaidJobs"
				}
				else {
					url = url + "/AllCompletedJobs"
				}

				//load fragment and replace content
				$('#replace_div').load(url);
				
				$( "td:eq( 4 )" ).css( "color", "red" );
			}
		</script>
	</div>
</body>

</html>