<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
	<div class="card" th:fragment="content1">
		<div class="card-body">
			<div class="table-responsive">
				<table id="example1" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>S/N</th>
							<th>Job ID</th>
							<th>Job Description</th>
							<th>Clinic Location</th>
							<th>Status</th>
							<th>Completed Date/Time</th>
							<th>Doctor Name/Medical License No</th>
							<th>Total Fees</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<!-- Fill in table items here -->
						<tr th:each="jp, iStat : ${jobPosts}" class="listRecord">
							<td th:text="${iStat.index + 1}">S/N</td>
							<td th:text="${jp.id}">Job Post Id</td>
							<td th:text="${jp.description}">Job Description</td>
							<td th:text="${jp.clinic.name}">Clinic Location</td>
							<td>
								<p style="pointer-events:none" type="button"
									th:if="${jp.status.name == 'COMPLETED_PENDING_PAYMENT'}"
									class="bg-danger btn btn-sm my-auto" th:text="${jp.status.value}"></p>
								<p style="pointer-events:none"
									th:if="${jp.status.name == 'COMPLETED_PAYMENT_PROCESSED'}"
									class="bg-navy btn btn-sm my-auto" th:text="${jp.status.value}"></p>
							</td>
							<td>
								<span th:text="${jp.getStartDateTimeString()}"></span>
								to<br>
								<span th:text="${jp.getEndDateTimeString()}"></span>
							</td>
							<td
								th:text="${'Dr ' + jp.getFreelancer().getName() + ' (' + jp.getFreelancer().getMedicalLicenseNo() + ')'}">
								Name</td>
							<td th:text="${'$' + jp.computeEstimatedTotalRate()}">Total Fees</td>
							<td align="center">
								<div th:switch="${#strings.toString(jp.status)}">
									<a th:case="'OPEN'" th:href="@{/jobpost/}+${jp.id}+@{/delete}">Delete</a>
									<a th:case="'PENDING'" th:href="@{/jobpost/}+${jp.id}+@{/cancel}">Cancel</a>
								</div>
								<div><a th:href="@{/jobpost/}+${jp.id}">View</a></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- /.card-body -->

		<script>
			$(function () {
				$("#example1").DataTable({
					"responsive": true, "lengthChange": false, "autoWidth": false,
					"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
				}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

			});
		</script>
	</div>
	<!-- /.card -->
</body>

</html>