<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{fragments/layout}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Locum Application</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <!-- Bootstrap CSS -->
    <style>
</style>
</head>
<body>
    <br/>
    <div class="container">
        <h1>Welcome to our registration page</h1>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Register as a Freelance Locum</h5>
                <p class="card-text" style="height: 50px;">As a Locum, you can browse and apply the jobs opening by Clinics.<br/></p>
                <a href="#" class="btn btn-primary">Register</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">Register as a Medical Institution</h5>
                <p class="card-text" style="height: 50px;">As a Medical Institution, you can register your Clinics and post the jobs to look for the Locum.</p>
                <a href="#" class="btn btn-primary">Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>      
      
<br/>
    <footer b-8i4qlzt809 class="border-top footer text-muted">
        <div b-8i4qlzt809 class="container">
            &copy; 2023 - Locum Application
        </div>
    </footer>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</html>
